
<body>
<div class="container">
  <div class="title">Registration</div>
  <div class="content">
    <form action="#" (ngSubmit)="onSubmit()" #interviewForm="ngForm" >
      <div class="user-details">
        <div class="input-box">
          <label class="details">Interviewer ID</label>
          <input type="text" id="interviewer-id" name="interviewerId" [(ngModel)]="interviewer.interviewerId" placeholder="Enter your Id" required>
        </div>
        <div class="input-box">
          <label class="details">Interviewer Name</label>
          <input type="text" id="interviewer-name" name="interviewerName" [(ngModel)]="interviewer.interviewerName" placeholder="Enter your Name" required >
          <!-- #interviewerName="ngModel" [(ngModel)]="interviewer.interviewerName">
          <label class="text-danger" *ngIf="form.submitted && interviewerName.errors?.['required']">Name is required</label> -->
        </div>
        <div class="input-box">
          <label class="details"> Email</label>
          <input type="text" id="interviewer-email" name="interviewerEmail" [(ngModel)]="interviewer.interviewerEmail" placeholder="Enter your email" required email>
        </div>

        <div class="input-box">
          <label for="interviewer-role" class="details">Role</label>
          <input type="text" id="interviewer-role" name="interviewer-role" [(ngModel)]="interviewer.interviewerRole" placeholder="Enter your Roles" required list="interviewer-role-options" required>
          <datalist id="interviewer-role-options">
            <option *ngFor="let option of options" [value]="option"></option>
          </datalist>
        </div>
        <div class="input-box">
          <label class="interviewer-experience">Experience</label>
          <input type="number" id="interviewer-experience" name="interviewerExperience" [(ngModel)]="interviewer.interviewerExperience" placeholder="Enter your Experience" required>
        </div>
        

        <!-- <div class="input-box">
          <label class="details">Role</label>
          <input type="text" id="interviewer-role" name="interviewerRole" [(ngModel)]="interviewer.interviewerRole" placeholder="Enter your role" required>
        </div> -->
      

        <div class="input-box">
          <label class="details">Skills</label>
          <input type="text" id="interviewer-skills" name="interviewerSkills" [(ngModel)]="interviewer.interviewerSkills" placeholder="Enter your skills" required>
        </div>
        <div class="input-box">
          <label class="details">Available Date</label>
          <input type="date" id="available-date" name="availableDate" [(ngModel)]="interviewer.availableDate" placeholder="Date" required>
        </div>
        <div class="input-box">
          <label class="details">Available Time</label>
          <input type="time" id="available-time" name="availableTime" [(ngModel)]="interviewer.availableTime" placeholder="Enter your password" required>
        </div>

      </div>
      <div class="button">
        <input type="submit" (click)="onSubmit()" [disabled]="!interviewForm.form.valid" value="Register">
        
      <!-- <div *ngIf="formSubmitted">
      <p class="align">Form submitted successfully!</p>
      </div>
        <!-- <button type="submit" (click)="onSubmit()" [disabled]="!interviewForm.form.valid">Submit </button> -->
      </div> 
    </form>
  </div>
</div>

</body>